.todo-module {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 90%;
  position: relative;
  font-family: 'LeferiPoint-WhiteObliqueA';
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

#todo-form {
  position: absolute;
  top: 50px;
}

#todo-list {
  overflow-y: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}

#todo-list span {
  display: inline-block;
  padding: 10px 5px;
  font-size: 24px;
}

#todo-list button {
  background-color: var(--btn-background);
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
